body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  background: white;
    width: 100%;   
    height: 90px;  
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
      position: fixed;
        top: 0;
        left: 0;
    z-index: 1000; /* para que quede por encima del resto */

}

.logos {
  display: flex;
  align-items: center;
  gap: 30px; /* espacio entre los logos */
  padding-top: 30px; /* espacio superior */
  padding-left: 100px;
}

.logos img {
  height: 40px; /* ajustá el tamaño de los logos */
}

/* Sección de agradecimiento */
.thankyou-hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: flex-start;   /* en vez de center → sube el contenido */
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding-top: 150px;        /* lo baja lo justo, para que no choque con el nav */
}

/* Fondo */
.thankyou-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  z-index: 1;
}

/* Contenido */
.thankyou-content {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  color: white;
}

/* Botón volver */
.back-button {
  position: absolute;
  top: 12px;   /* baja un poco para que no se monte con el nav */
    left: 10px;  /* lo separa un poco del borde izquierdo */
  background: rgba(26, 159, 218, 1);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: background 0.3s;
}


.back-button:hover {
  background: #007bb5;
}

/* Texto */
.thankyou-text h1 {
margin-top: 90px;
  font-size: 3rem;
  margin-bottom: 20px;
   color: rgba(23, 38, 109, 1)
}

.thankyou-text p {
  font-size: 1.5rem;
  color: rgba(23, 38, 109, 1)
}

.site-footer {
  background-color: #0a2342; /* azul oscuro */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.footer-left, .footer-right {
  flex: 1 1 300px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.footer-logos img {
  height: 50px;
  margin-right: 15px;
}

.footer-tagline {
  margin: 20px 0;
  font-size: 1.2rem;
  max-width: 250px;
}

.footer-socials a img {
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.footer-socials a img:hover {
  transform: scale(1.1);
}

/* Contacto */
.footer-right h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-right li img {
  height: 20px;
  margin-right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-right {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }

  .footer-logos img {
    margin-right: 10px;
  }

  .footer-right li {
    justify-content: center;
  }
}
